header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0.2em 1em;
}

header h1 {
    font-weight: 500;
}

header ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

section {
    padding: 0.5em 1em 0;
}

a {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5em;
    padding-bottom: 0.5em;
}

#user a {
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
}

section header {
    padding: 0.75em 0;
}

section h2 {
    font-size: 1.1em;
    font-weight: 400;
    color: #666666;
}

section ul {
    font-size: 1.2em;
}

.search {
    width: 1.5em;
    height: 1.5em;
    background: url(../resources/search.png) no-repeat 0 50%;
    background-size: contain;
    text-indent: -1000px;
}

.user-blank {
    width: 1.5em;
    height: 1.5em;
    background: url(../resources/user-blank.png) no-repeat 0 50%;
    background-size: contain;
    text-indent: -1000px;
}

.settings {
    width: 1.5em;
    height: 1.5em;
    background: url(../resources/settings.png) no-repeat 0 50%;
    background-size: contain;
    text-indent: -1000px;
}

.chevron-down {
    width: 1.5em;
    height: 1.5em;
    background: url(../resources/chevron-down.png) no-repeat 0 50%;
    background-size: contain;
    text-indent: -9999px; 
}

.avatar {
    width: 3.5em;
    height: 3.5em;
    border-radius: 1.5em;
    background: url(../resources/avatar.png) no-repeat 0 50%;
    background-size: contain;
    text-indent: -1000px; 
}
